import javax.swing.JOptionPane; //JOptionPane kütüphanesini çağırıyorum.
public class Elektrik_Alan_Bulma {
	public static void main(String[] args) {
		double k = (8.99); //Coloumb sabitini yani "k" değerini tanımlıyorum.
		JOptionPane.showMessageDialog(null, "Elektrik Alan Bulma Uygulamasına Hoşgeldiniz","Elektrik Alan Bulma",-1);
		String q1 = JOptionPane.showInputDialog(null,"q yükünü giriniz"); //q değerini kullanıcıdan istiyoruz.
		String r1 = JOptionPane.showInputDialog(null,"uzaklığı giriniz(Metre cinsinden giriniz)"); //uzaklık değerini kullanıcıdan istiyoruz.
		double q = Double.parseDouble(q1); //String olarak aldığımız değeri double'a çeviriyoruz.
		double r = Double.parseDouble(r1); //String olarak adlığımız değeri double'a çeviriyoruz.
		double E = k * q; 
		double r2 = r*r;
		double Es = E/r2; //Burda da Elektrik alanı bulmak için gerekli işlemleri yapıyoruz.
		JOptionPane.showMessageDialog(null, "Elektrik Alan Değeri: "+Es+" x 10^9"+" N/C"); //Burda da bulduğumuz değeri ekrana yazdırıyoruz.
		// 10^9 şeklinde yazmamın nedeni: eğer ki çok yüksek bir sayı çıkarsa bit sayısından dolayı programımızın bozulmasını engellemek.
		//2318121035 Hasan Efe Hayri
	}
}
